<h1 class="legenda">Detalhe Fornecedor</h1>
<hr>
<br>

<header class="postagem">

<div class="tabela">
<table id="Fat_table" class="display">
  <thead class="thead-dark">
    <tr class="cabecalho">
      <th scope="col">Empresa</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Natureza</th>
      <th class="secundary" scope="col">Tipo de OC</th>
      <th scope="col">OC</th>
      <th scope="col">NF/Invoice</th>
      <th scope="col">Valor</th>
      <th scope="col">Emissão</th>
      <th class="secundary" scope="col">Competência</th>
      <th scope="col">Justificativa</th>
      <th class="secundary" scope="col">Centro de Custo</th>
      <th class="secundary" scope="col">Únidade de Negócio</th>
      <th class="secundary" scope="col">Prazo</th>
      <th scope="col">Vencimento</th>
      <th scope="col">Data de envio para pagamento</th>
      <th class="secundary" scope="col">Data de recebimento</th>
      <th class="secundary" scope="col">Responsável</th>
      <th scope="col">Nº do Ticket</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    <tbody>

{{#each lancamentos}}


    <tr class="base">
      <td>{{empresa}}</td>
      <td>{{fornecedor.nome}}</td>
      <td>{{natureza.nome}}</td>
      <td class="secundary">{{tipo}}</td>
      <td>{{ordem}}</td>
      <td>{{nota}}</td>
      <td class="coin">{{valor}}</td>
      <td>{{dateFormat emissao "DD/MM/YYYY"}}</td>
      <td class="secundary">{{competencia}}</td>
      <td>{{justificativa}}</td>
      <td class="secundary">{{centro}}</td>
      <td class="secundary">{{unidade}}</td>
      <td class="secundary">{{prazo}}</td>
      <td>{{dateFormat vencimento "DD/MM/YYYY"}}</td>
      <td>{{dateFormat date "DD/MM/YYYY"}}</td>
      <td class="secundary">{{dateFormat recebimento "DD/MM/YYYY"}}</td>
      <td class="secundary">{{responsavel}}</td>
      <td>{{ticket}}</td>
      <td>
        <a href="/base/lancamento/editar/{{_id}}"><button class="btn btn-success"><i class="icon ion-md-create"></i></button></a>
       </td>
       <td>   
          <form action="/base/geral/remover" method="POST">
            <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger"><i class="icon ion-md-trash"></i></button>
        </form>
      </td>
    </tr>



{{else}}

<header class="postagem">
<h5>Nenhum lançamento cadastrado</h5>
<hr>

{{/each}}

<script src="/js/funcoes.js"></script>


<script>

  $(document).ready( function () {
    $('#Fat_table').DataTable();
});

</script>


</tbody>
</table>
</div>
<hr>
</header>

<!-- SEGUNDA PARTE DO DASHBOARD ********************************************************************************-->
<section class="secao" style="background-color: #e1e1ef;">

<br>


<!-- Divisão das colunas onde ficarão as informações dos fornecedores-->
<div class="sec2">
  <div class="row mt-4">

<div class="separador">
    <div class="col"><h3 class="fornecedor">Algar</h3>
    <hr>
    <h5><i class="icon ion-md-square" style="color: rgb(22, 92, 22)"></i> Algar Telecom S.A</h5>
    <P class="mt-3"><i class="icon ion-md-square" style="color: rgb(0, 109, 128)"></i> CNPJ: 934328429612319</P>
    <P><i class="icon ion-md-at"></i><a href="mailto:raphaelnn@hotmail.com"> Email: raphaelnn@hotmail.com</a></P>
    <P class="mt-3"><i class="icon ion-md-contact" style="color: rgb(0, 109, 128)"></i> Responsável: Lucas Rodrigues</P>
    <p class="p-3 mb-2 bg-success text-white" style="border-radius: .2em; text-align: center;">Serviço ativo</p>

    </div>
</div>

<div class="separador">
    <div class="col">
<!-- Card com soma de valores enviados-->
<h3 class="fornecedor">Dados financeiros</h3>
<hr>

<div class="card flex-fill">
		<div class="card-body py-4">
			<div class="media">
				<div class="d-inline-block mt-2 mr-3">
					<i class="feather-lg text-info" data-feather="dollar-sign"></i>
				</div>
					<div class="media-body">
						<h3 class="card-text" id="dinheiro"></h3>
						<div class="sub-valores mb-0">Valor faturado</div>
					</div>
			</div>
		</div>

<script>
  feather.replace()
</script>
</div>
<!-- Fim da caixa de soma de valores enviados-->
    </div>
</div>
   <!-- <div class="w-100"></div>   ACRESCENTAR CASO QUERIA QUEBRAR OS CARDS EM DUAS LINHAS-->


<div class="separador">
    <div class="col">

<!-- ******************************************************************************************************-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <h1>Titulo 1</h1>
    </div>
    <div class="carousel-item">
      <h1>Titulo 2</h1>
    </div>
    <div class="carousel-item">
      <h1>Titulo 3</h1>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- ******************************************************************************************************-->
    </div>
</div>


<div class="separador">
    <div class="col">
      <div class="col"><h4 class="fornecedor">Últimos lançamentos</h4>
    <hr>

  <div class="card flex-fill">
								<div class="card-body py-4">
									<div class="media">
										<div class="d-inline-block mt-2 mr-3">
											<i class="feather-lg text-info" data-feather="dollar-sign"></i>
										</div>
										<div class="media-body">
											<h3 class="mb-2">43</h3>
											<div class="mb-0">Pending Orders</div>
										</div>
									</div>
								</div>

<script>
  feather.replace()
</script>

  </div>
</div>

</div>
</div>
<br>


<script src="/js/funcoes.js"></script>
</section>

<!--
        <h5>Razão Social</h5> 
        <h5>CNPJ</h5>
        Nome Fantasia
        Empresa do Grupo **
        Intermedidor **
        Fabricante **
        Produto **
        Centro de Custo
        Conta Contábil
        Responsável da ferramenta**
        Líder de Centro de Custo
        Gestor da entidade
        Recorrência valor
        Periodicidade TEMPO
        Forma de capitação de NF
        Valor
        Vencimento
        Data de Faturamento
        Moeda
        Via de Pagamento
        Escritório
        Status
        Data de checagem
        ITEM

-->

<!-- GRÁFICOS DO CHART JS ******************************************************************************** 
<div class="col">
<div class="graficos">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<canvas id="myChart" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun'],
        datasets: [{
            label: 'Total de notas envidas (R$)',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

-->

