<h1 class="legenda">Base Geral de Faturamento</h1>
<hr>
<header class="postagem">

<a href="/base/enviar"><button class="btn btn-success">Nova Entrada</button></a>
<br>
<br>

<div class="tabela">
<table id="Fat_table"  class="display">
  <thead class="thead-dark">
    <tr class="cabecalho">
      <th scope="col">Empresa</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Natureza</th>
      <th class="secundary" scope="col">Tipo de OC</th>
      <th scope="col">OC</th>
      <th scope="col">NF/Invoice</th>
      <th scope="col">Valor</th>
      <th scope="col">Emissão</th>
      <th class="secundary" scope="col">Competência</th>
      <th scope="col">Justificativa</th>
      <th class="secundary" scope="col">Centro de Custo</th>
      <th class="secundary" scope="col">Únidade de Negócio</th>
      <th class="secundary" scope="col">Prazo</th>
      <th scope="col">Vencimento</th>
      <th scope="col">Data de envio para pagamento</th>
      <th class="secundary" scope="col">Data de recebimento</th>
      <th class="secundary" scope="col">Responsável</th>
      <th scope="col">Nº do Ticket</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
   <tbody>

{{#each lancamentos}}

 
    <tr class="base">
      <td>{{empresa}}</td>
      <td>{{fornecedor.nome}}</td>
      <td>{{natureza.nome}}</td>
      <td class="secundary">{{tipo}}</td>
      <td>{{ordem}}</td>
      <td>{{nota}}</td>
      <td class="coin">{{valor}}</td>
      <td>{{dateFormat emissao "DD/MM/YYYY"}}</td>
      <td class="secundary">{{competencia}}</td>
      <td>{{justificativa}}</td>
      <td class="secundary">{{centro}}</td>
      <td class="secundary">{{unidade}}</td>
      <td class="secundary">{{prazo}}</td>
      <td>{{dateFormat vencimento "DD/MM/YYYY"}}</td>
      <td>{{dateFormat date "DD/MM/YYYY"}}</td>
      <td class="secundary">{{dateFormat recebimento "DD/MM/YYYY"}}</td>
      <td class="secundary">{{responsavel}}</td>
      <td>{{ticket}}</td>
      <td>
        <a href="/base/lancamento/editar/{{_id}}"><button class="btn btn-success"><i class="icon ion-md-create"></i></button></a>
       </td>
       <td>   
          <form action="/base/geral/remover" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
        <button type="submit" class="btn btn-danger"><i class="icon ion-md-trash"></i></button>
        </form>
      </td>
    </tr>



{{else}}

<header class="postagem">
<h1>Nenhum lançamento cadastrado</h1>
<hr>

{{/each}}

<script src="/js/funcoes.js"></script>


<script>

  $(document).ready( function () {
    $('#Fat_table').DataTable();
});

</script>

</tbody>
</table>
</div>
</header>

<section>


</section>