<div class="teste">
<table id="Det_Table" class="table">
    <tr>
        <th>Property</th>
        <th>France</th>
        <th>Germany</th>
        <th>Italy</th>
        <th>UK</th>
        <th>Es</th>
        <th>Pt</th>
    </tr>
    <tr>
        <th>Coastline</th>
        <td>40</td>
        <td>22</td>
        <td>70</td>
        <td>40.5</td>
        <td>40.5</td>
        <td>12</td>
    </tr>
    <tr>
        <th>Expectancy</th>
        <td>81.8</td>
        <td>80.7</td>
        <td>82.2</td>
        <td>80.7</td>
        <td>40.5</td>
        <td>22</td>
    </tr>
    <tr>
        <th>Elevation</th>
        <td>60</td>
        <td>50</td>
        <td>34</td>
        <td>70</td>
        <td>40.5</td>
        <td>90</td>
    </tr>
    <tr>
        <th>Population</th>
        <td>66</td>
        <td>80</td>
        <td>62</td>
        <td>64</td>
        <td>40.5</td>
        <td>22</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>41.2</td>
        <td>46.8</td>
        <td>45.1</td>
        <td>40.5</td>
        <td>40.5</td>
        <td>22</td>
    </tr>
</table>
</div>


<div class="graficos2">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<canvas id="myChart" width="400" height="200"></canvas>
<script>   
    var table = document.querySelector('Table')
    var tableArr = [];
    var tableLab = [];

    for(var i = 1; i < table.rows.length; i++) {
        tableArr.push([
     table.rows[i].cells[1].innerHTML
    ]);
    }

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple'],
        datasets: [{
            label: 'France',
            data: tableArr,
            backgroundColor: [
                'rgba(255, 99, 132)',
                'rgba(54, 162, 235)',
                'rgba(255, 206, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

</div>

<br>
<br>
<br>

<iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-painel-gerencial-rhhsm/embed/charts?id=8b629520-df51-4990-a6df-bb85bb38ace1&tenant=ec5351e2-76b6-456c-8b6b-39add59a8d0a"></iframe>
{{!-- 
<div class="postagem">

<div class="tabela">
<table id="Fat_table"  class="display">
  <thead class="thead-dark">
    <tr class="cabecalho">
      <th scope="col">Empresa</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Valor</th>
      <th scope="col">Emissão</th>
    </tr>
  </thead>
   <tbody>
 
{{#each lancamentos}}
    <tr class="base">
      <td>{{empresa}}</td>
      <td>{{fornecedor.nome}}</td>
      <td class="coin">{{valor}}</td>
      <td>{{dateFormat emissao "DD/MM/YYYY"}}</td>
    </tr>


<script src="/js/teste.js"></script>
{{else}}

<header class="postagem">
<h1>Nenhum lançamento cadastrado</h1>
<hr>

{{/each}}
</div> --}}